li {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 10px;
}


header {
	text-align: center;
	font-family: arial;
	font-weight: 600;
	color: #c50000;
	padding: 20px;
	background: #E0E0E0;	
}

#tagLine {
	position: absolute;
	right: 0px;
	top: 50%;
	line-height: 1.6em;
	margin-top: -0.8em;
}

.button {
	display: block;
	width: 100px;
}


